html, body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: 'Pacifico', "Roboto Slab", cursive;
    font-size: 4em;
/*    color: #5ac2e2;*/
    color: #666;
}

h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
    color: #666;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #666;
}

a {
    color: #666;
}

a:hover {
    color: #5ac2e2;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}



/*** background image ***/


.overlay{
  background-attachment:fixed;
   background:url(img/bubbles.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}



/*** navbar ***/


#phone-button {
    font-size: 24px;
    color: #666;
}

.navbar-nav>li>a {
    margin-top: 15px;
    text-align: center;
}

.navbar {
    min-height: 90px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    box-shadow: 0 0 3px rgba(150,150,150,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.4s;
    -webkit-transition:  0.4s;
}


/*** header ***/

#header-intro {
    margin: 100px auto;
    padding-top: 100px;
}

.bg-image-container {
    position: relative;
}

.image-full-width.-large {
    height: 510px;
}

.bg-image {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


/*** articles ***/


.article {
    margin-top: 50px;
    height: 200px;
}

.article > img {
    max-height: 80px;
    margin-top: 30px;
    margin-right: 20px;
    float: left;
}

.article > div {
    overflow: hidden;
}



/*** sections ***/


.grey-background {
    background-color: #f2f2f2;
}

.section-feature {
    min-height: 400px;
    margin-top: 40px;
    vertical-align: middle;
    line-height: 400px;
}

.section-feature > .col-sm-6 > img {
    max-height: 350px;
}

@media only screen and (min-width: 768px) {
    .section-feature > .col-sm-6 > h2 {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .section-feature > .col-sm-6 > h2 {
        margin-bottom: 50px;
    }
    .section-feature > .col-sm-6 > img {
        max-height: 300px;
    }
}

.section-feature h2 {
    padding:auto;
}

#cursive {
    font-family: 'Pacifico', "Roboto Slab", cursive;
    font-size: 3em;
    margin-top: 0px;
}


/*** footer ***/



footer {
    background-color: #666;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer div a {
    margin-top: 20px;
    color: #f2f2f2;
    padding: 5px;
    text-decoration: none;
}

footer div a:hover {
    background-color: #f2f2f2;
    color: #5ac2e2;
    text-decoration: none;
}

footer div p {
    color: #b3b3b3;
}

#footer-content {
    padding-top: 100px;
}

#copyright {
    font-family: "Roboto Slab", serif;
    color: #b3b3b3;
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

#smudger-sponge-container {
    position: relative; 
    height: 156px;
}

#smudge {
    position: absolute; 
    width: 50%; 
    height: 94px; 
    background-color: white; 
    right:0; 
    top:41px;
}

#sponge_logo {
    position: absolute; 
    right: calc(50% - 48px);
    top:40px;
}

#sponge_text {
    position:absolute; 
    right: calc(50% - 72px); 
    top:156px;
}