html, body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: 'Pacifico','Modak', cursive;
    font-size: 4em;
/*    color: #5ac2e2;*/
    color: #666;
}

h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab", sans-serif;
    color: #666;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #666;
}

a {
    color: #666;
}

a:hover {
    color: #5ac2e2;
}



/*** background image ***/


.overlay{
  background-attachment:fixed;
   background:url(img/bubbles.png);
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
  top:0;
  left:0;
  width:100%;
 height:100%;
}

@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}



/*** navbar ***/


#phone-button {
    font-size: 24px;
    color: #666;
}

.navbar-nav>li>a {
    margin-top: 15px;
    text-align: center;
}

.navbar {
    min-height: 90px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar-container {
    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    box-shadow: 0 0 3px rgba(150,150,150,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.4s;
    -webkit-transition:  0.4s;
}


/*** header ***/

#header-intro {
    margin: 150px auto;
    padding-top: 100px;
}

.bg-image-container {
    position: relative;
}

.image-full-width.-large {
    height: 510px;
}

.bg-image {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


/*** articles ***/





/*** footer ***/



footer {
    background-color: #666;
}